@model object

@{
    ViewData["Title"] = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error</h4>
    <hr>
    <h5>
        Resource with Id @Model can not be found
    </h5>
</div>
